/*
Project Name:New Year Project - Assaignment
Author:Shariar Arefin
*/
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');

/*Global*/

*{
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
}

.text-center{
    text-align: center;
}

/*Global*/

/*Header*/
header{
    margin:12px 0;
}
.hero{
    background: url('../images/Banner.png'),linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
    height: 100%;
    border-radius: 16px;
    background-blend-mode: overlay;

}
.hero-container{
    padding:177px 0;
}
.hero-char{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}
.hero-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */   
}
/*Header*/

/*main*/
   

/*offer Start*/
   .offer-color{
     color: #F00;

    }
    .offer-container{
        padding:120px 0;
    }
   .offer-title{

     font-family: Inter;
     font-size: 88px;
     font-weight: 700;

   }
   .offer-holyday{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top:48px;
   }
   .offer-categories{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
   }
   .offer-image{
    margin:0 auto;
    padding-top:48px;
    display:block;
    width: 802.9px;
    height: 500px;
   }
   /*offer Ends*/

   /*Party Start*/
   .party{
    background: url('../images/Vectorrr.png'),linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
    height: 100%;
    border-radius: 16px;
    background-blend-mode: overlay;
}

.party-container{
    display: flex;
    gap:39.17px;
    align-items: center;
}
.party-col{
    padding:126px 0 142px 126px;
    display:block;
}
.party-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}
.party-content{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    width: 574px;
    padding-top:24px;


}
.party-button-custom{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: 0;
    padding-top: 48px;
}
.Party-Years{
    padding: 68px 138px 68px 0px;
}

   /*Party Ends*/
   /* Hotel Starts*/
   .hotel{
    width: 1320px;
    margin:0 auto;
   }
   .hotel-container{
    margin-top:120px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding:100px 0px 126px 0px;

   }
   .hotel-title{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
   }
   .hotel-button{
    margin: 0 auto;
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase; 
    background-color: #F00;
    padding:16px 32px;
    border:0;
    border-radius: 8px; 
 }
 .hotel button{
    margin-top:48px;
 }
   /* Hotel ENds*/
   /* Comming Soon Starts*/
   .coming-soon{
    width:1320px;
    margin:0 auto;
   }
   .coming-soon-container{
    margin-top:120px;
    margin-bottom:120px;
    display: flex;
    gap:70px;
    align-items: center;

   }
   .coming-soon-little-head{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
   }
   .coming-soon-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
   }
.coming-soon-content{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding-top:22px;
}
.coming-soon-2024{
    
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.bottom-coming-soon{
    padding-top:43px;
}
/*comming soon ENds*/
/*function Start*/
.function{
    width:1320px;
    margin:0 auto;
}

.function-little-head{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.function-title{
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}
.function-content{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 43%;
    margin: 0 auto;

}
.function-image{
    background: url("../images/Group\ 82.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    margin-top:64px;
    margin-bottom: 120px;
}
.function-col{
    display: block;
    width:50%;
}

.funtion-img{
    margin-bottom:226px;
}
/*function ends*/
/*best gift */
.best-gift{
    width:1320px;
    margin:0 auto;
}
.best-gift-little-title{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.best-gift-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.best-gift-content{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 750px;
    padding-top: 22px;
    padding-bottom: 24px;
}
.best-gift-row{
    display: flex;
    gap:24px;
    align-items: center;
    padding-top:24px;
}
.best-gift-col{
    transition: 1s;
}
.best-gift-col:hover{

    transform: scale(1.1);
    z-index: 2;
}

/*best-gift-end*/
/*newsletter*/
.newsletter{
    width:1320px;
    margin:0 auto;

}
.newsletter-container{
    margin-top:120px;
    margin-bottom:120px;
    padding:100px 0px 126px 0px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

   }
   .newsletter-img{
    margin: 0 auto;
    display: block;

   }
   .newsletter-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
   }
   .newsletter-content{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 50%; 
    margin: 0 auto;
   }
 
   input[type="email"]{
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 25px 30px;
    border:0;
    border-radius: 50px 0px 0px 50px;
    width:60%;
   }
input[type="submit"]{
    border-radius: 0px  50px 50px 0px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 23px 40px;
    background-color: #F00;
    border: 0;
    margin-left: -5px;
    width:30%;

}
.form{
    text-align: center;
    padding-top:48px;
    width:672px;
    margin: 0 auto;

}

/*newsletter end*/
/*main*/

/*footer*/
footer{
    background: #070211;
    color:#fff;
}
/*address*/
.address{
    width: 1320px;
    margin: 0 auto;
}
.address-container{
    padding: 120px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    margin-right: 60px;
}
hr{
    background: rgba(255, 255, 255, 0.15);
}
.address-container p{
    width: 55%;
    justify-content: left;
}
.address-content{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}
.add-img-gap{
    margin-right: 10px;
}
.image-container{
    padding:48px 0;
    display: flex;
    justify-content: center;

    
}
.footer-img{
    margin-right:24px;
}

.reserve-container{
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
}
.reserve-content{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; 
}


/*footer*/